<div class="row">
    <div class="col-xs-12 ">
        <h2>Users</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td class="text-right">Show</td>
            </tr>
            </thead>
            <tbody>
            <!--Loop of users-->
            <tr [ngClass]="{'hidden': !loading }">
                <td colspan="3">Loading ...</td>
            </tr>
            <tr *ngFor="let post of posts; let i = index;">
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td class="text-right"><a [routerLink]="['/post', post.id]" class="btn btn-primary">show details</a></td>
            </tr>
            </tbody>
        </table>

        <a [routerLink]="['/post/new']" class="btn btn-info">Add user</a>
        <!--Trigger function-->
        <button class="btn btn-danger" (click)="updatePosts()">Update posts</button>
    </div>

</div>

