<div class="row">
    <div class="col-xs-12 col-sm-6">
        <form class="form-horizontal  well" role="form" (ngSubmit)="onSubmit(createForm.value)" [formGroup]="createForm">
            <fieldset>
                <!--Titel-->
                <div class="form-group required" [class.has-error]="!createForm.controls['title'].valid && createForm.controls['title'].touched">
                    <label class="col-sm-3 control-label">Titel</label>
                    <div class="col-sm-9">
                        <input required type="text" class="form-control" placeholder="title" name="title" [formControl]="createForm.controls['title']">
                        <span *ngIf="createForm.controls['title'].hasError('required') && createForm.controls['title'].touched" class="help-block">
                        Titel is verplicht
                    </span>
                    </div>
                </div>
                <!--Titel-->
                <div class="form-group required" [class.has-error]="!createForm.controls['body'].valid && createForm.controls['body'].touched">
                    <label class="col-sm-3 control-label">Body</label>
                    <div class="col-sm-9">
                        <textarea required class="form-control" placeholder="body" name="body" [formControl]="createForm.controls['body']" cols="10" rows="10"></textarea>
                        <span *ngIf="createForm.controls['body'].hasError('required') && createForm.controls['body'].touched" class="help-block">
                            Body is verplicht
                        </span>
                    </div>
                </div>

            </fieldset>
            <div class="form-actions">
                <div class="row">
                    <div class="col-sm-6">
                        <a [routerLink]="['/post']" class="btn btn-info">Terug naar overzicht</a>
                    </div>

                    <div class="col-sm-6 text-right">
                        <button type="submit" class="btn btn-success pull-right">Aanmaken</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>