<div class="col-xs-12 col-sm-6 detail">
    <h2>{{ post.title }}</h2>
    <div *ngIf="post">
        {{ post.body }}
    </div>

    <br>
    <a [routerLink]="['/post']" class="btn btn-info">Terug naar overzicht</a>
</div>